

        <%- include("partials/header"); -%>
        <div class="inner-section">
          <a href="create"><button class="btn btn-dark">Create Contact</button></a><br /><br /><br />
          <a href="view"><button class="btn btn-dark">View Contacts</button></a><br /><br /><br />
          <a href="update"><button class="btn btn-dark">UpdateContact</button></a><br /><br /><br />
          <a href="delete"><button class="btn btn-dark">Delete Contact</button></a>
        </div>
        <%- include("partials/footer"); -%>
